.insert-data-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}

.insert-data-h1 {
  font-size: 2.5rem;
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.metric-reference {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metric-reference h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #343a40;
}

.metric-reference ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.metric-reference li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.custom-columns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.custom-columns > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.custom-columns input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.custom-columns .remove-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-columns .remove-button:hover {
  background-color: #cc0000;
}

.csv-textarea {
  width: 97%;
  height: 300px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}